<div class="nav-item dropdown">
    <a class="nav-link" data-toggle="dropdown" href="#" aria-expanded="false">
        <i class="fas fa-bars"></i>
    </a>
    <div class="dropdown-menu" style="">
        <a class="dropdown-item" tabindex="-1" href="#">Accounting</a>
        <a class="dropdown-item" tabindex="-1" href="#">Sales</a>
        <a class="dropdown-item" tabindex="-1" href="#">Purchasing</a>
        <a class="dropdown-item" tabindex="-1" href="#">Inventory</a>
        <a class="dropdown-item" tabindex="-1" href="#">Production</a>
        <a class="dropdown-item" tabindex="-1" href="#">Setup</a>
    </div>
</div>