@page "/"
@using ARCerp.Shared.Components

<PageTitle>ARCerp</PageTitle>
<PageHeading Heading="Sales Reports" />



 <div class="row">
    <div class="col-md-4 col-lg-4 col-sm-12">
    <PieChart></PieChart>
    </div>
    <div class="col-md-4 col-lg-4 col-sm-12">
        <PieChart></PieChart>
    </div>
    <div class="col-md-4 col-lg-4 col-sm-12">
        <PieChart></PieChart>
    </div>
    <div class="col-md-4 col-lg-4 col-sm-12">
        <PieChart></PieChart>
    </div>
    <div class="col-md-4 col-lg-4 col-sm-12">
        <PieChart></PieChart>
    </div>
    <div class="col-md-4 col-lg-4 col-sm-12">
        <PieChart></PieChart>
    </div>
</div>
